<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="banks.css">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1">

    <title>Banks</title>


  </head>

  <body>
        <button style="background-color: rgba(0,0,0,0)"onclick="location.href = 'index.html';">
          <img style="height: 50px; width: 50px;" src="icons/icon.png"    >
        </button>

            <div class = "seperator"></div>
            <h2> Banks in India</h2>
            <table>
                    <thead>
                    <tr>
                        <th>BANK</th>
                        <th>INTEREST</th>
                        <th>TIME PERIOD</th>
                        <th>GAIN/$1000</th>
                    </tr>
                    <thead>
                    <tbody>
                    <tr>
                        <td>SBI</td>
                        <td>6.5%</td>
                        <td>1-2 Years</td>
                        <td>$67</td>
                    </tr>
                        <tr>
                        <td>ICICI</td>
                        <td>6%</td>
                        <td>1-2 Years</td>
                        <td>$61.5</td>
                    </tr>
                        <tr>
                        <td>Axis</td>
                        <td>7%</td>
                        <td>1-2 Years</td>
                        <td>$72.4</td>
                    </tr>
                        <tr>
                        <td>Bank of India</td>
                        <td>6.65%</td>
                        <td>1-2 Years</td>
                        <td>$68.6</td>
                    </tr>
                    </tbody>
                <table/>
                <br>
        <button class = "learn-more">Not India?</button>
  </body>

</html>
