<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="intro2.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title> Second intro for sprout</title>
</head>
<body>
        <button style="background-color: Transparent" onclick="location.href = 'index.html';">
          <img style="height: 50px; width: 50px;" src="icons/icon.png"    >
        </button>

    <header class = "header">
        <div class = "logo-box">
            <img src = "assets/Sprout_logo.png" alt = "Logo" class = "logo">
        </div>
        <div class = "seperator"></div>
        <div class="paragraph">
			<!-- <button id="start" class="brk-btn"> START </button> -->
        </div>
    </header>  
	<p>  How to Make a Monthly Budget<br>

			1. Determine Your monthly, post-tax income. <br>
			a) calculate income from all sources, including your primary job and any additional income you earn on the side.<br>
			b) If any of your income is earned without taxes already withheld, you should account for this when you determine your monthly income.<br>

			2. List Your Expenses<br>

			a) Make a complete list of expenses for your upcoming month, like child care, rent/mortgage, food, etc.<br>
 
			3. Assign Income to Expenses<br>

			4. Track Your Expenses<br>

5. Improve Your Monthly Budge</p>
    <script type="text/javascript" src="../data/fair_trade.json"></script>
    <script type="text/javascript" src="../app.js"></script>
	<script src="../app.js"></script>
</body>
