button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
}
button.learn-more {
    transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
    color: #202121;
    padding: 1.25rem 2rem;
    background: #fff;
    text-transform: uppercase;
}
button.learn-more:hover, button.learn-more:focus, button.learn-more:active {
    letter-spacing: 0.225rem;
}

.seperator {
    height: 0.3vh;
    width: 45vh;
    background-color:rgba(40,180,131,1);
    position: relative;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    z-index: 0;
    top:12vh;
    left: 50%;
    transform: translate(-50%, -50%);

}

.options {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top:10vh;
    padding: 3vh;
}

.subtitle {
    font-size: 33px;
    position: relative;
    top:7vh;
    left: 3vh;
}

.icon {
    left: 5vh;
    position: relative;
    width:5vh;
    height:5vh;
}



form {
    margin: 50px;
}
.input-field {
    position: relative;
    width: 250px;
    height: 44px;
    line-height: 44px;
}
label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s all;
    cursor: text;
}
input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #111;
}
input:invalid {
    outline: 0;
}
input:focus, input:valid {
    border-color: #0d2;
}
input:focus ~ label, input:valid ~ label {
    font-size: 14px;
    top: -24px;
    color: #0d2;
}

.brk-btn {
    position: absolute;
    vertical-align: middle;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    color: rgba(40,180,131,1);
    text-decoration: none;
    border: 0.1em solid rgba(40,180,131,1);
    padding: 0.5em 1em;
    border-radius: 8px;

    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.brk-btn::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.brk-btn::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.brk-btn:hover::before {
    right: 80%;
}
.brk-btn:hover::after {
    left: 80%;
}
