<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="cropchooser.css">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1">

    <title>About</title>


  </head>

  <body>
      <br>
      <button style="background-color: rgba(0,0,0,0)"onclick="location.href = 'index.html';">
        <img style="height: 50px; width: 50px;" src="icons/icon.png">
      </button>
      <button class="brk-btn" onclick="window.location.href = 'menu.html'">HELP</button>
      <div class = "seperator"></div>
      <h1 style="text-align:center" >Choose your crop</h1>
      <div class = "options">
            <div class="wrapper">
                    <input checked type=radio name="slider" id="slide1" />
                    <input type=radio name="slider" id="slide2" />
                    <input type=radio name="slider" id="slide3" />
                    <input type=radio name="slider" id="slide4" />
                    <input type=radio name="slider" id="slide5" />
                  
                    <div class="slider-wrapper">
                      <div class=inner>
                        <article>
                          <div class="info top-left">
                            <h3>Banana</h3></div>
                          <img onclick="clickBanana()" src="assets/banana.jpg" />
                        </article>
                  
                        <article>
                          <div class="info bottom-right">
                            <h3>Maize</h3></div>
                          <img onclick="clickMaize()" src="assets/maize.jpg" />
                        </article>
                  
                        <article>
                          <div class="info bottom-left">
                            <h3>Rice</h3></div>
                          <img onclick="clickRice()" src="assets/rice.jpg" />
                        </article>
                  
                        <article>
                          <div class="info top-right">
                            <h3>Cotton</h3></div>
                          <img onclick="clickCotton()" src="assets/cotton.jpg" />
                        </article>
                  
                        <article>
                          <div class="info bottom-left">
                            <h3>Wheat</h3></div>
                          <img onclick="clickWheat()" src="assets/wheat.jpg" />
                        </article>
                      </div>
                      <!-- .inner -->
                    </div>
                    <!-- .slider-wrapper -->
                  
                    <div class="slider-prev-next-control">
                      <label for=slide1></label>
                      <label for=slide2></label>
                      <label for=slide3></label>
                      <label for=slide4></label>
                      <label for=slide5></label>
                    </div>
                    <!-- .slider-prev-next-control -->
                  
                    <div class="slider-dot-control">
                      <label for=slide1></label>
                      <label for=slide2></label>
                      <label for=slide3></label>
                      <label for=slide4></label>
                      <label for=slide5></label>
                    </div>
                    <!-- .slider-dot-control -->
                  </div>
				  <div style="text-align:center">
					<h1 id="selected"> Currently Selected: </h1>
				  </div>
				  <div style="text-align:center">
					   <h1> Farm Size (in acres) </h1>
					   <textarea id="acres" rows="1" cols="50">
						</textarea>
				  </div>
				  <div style="text-align:center">
					   <h1> Annual Revenue </h1>
					   <textarea id="revenue" rows="1" cols="50">
						</textarea>
				  </div>			
				  <div style="text-align:center">
					   <h1> Family Helpers </h1>
					   <textarea id="noWorkers" rows="1" cols="50">
						</textarea>
				  </div>			
				  <div style="text-align:center">
					   <br>
					   <button class = "learn-more" type="button" onclick="load();location.href='#popup';">Submit!</button>
				  </div>
                  </div>
                
                      <div class="popup" id="popup">
                        <div class="popup-inner">
                          <div class="popup__text">
                              <div style="text-align:center">
                                  <h1 id="pricePerLb">
                                    Price Per Pound:	
                                  </h1>
                                </div>
                              <div style="text-align:center">
                                  <h1 id="expenseId">
                                    Expense:	
                                  </h1>
                                </div>
                                <div style="text-align:center">
                                  <h1 id="incomeId">
                                    Income: 
                                  </h1>
                                </div>
                                <div style="text-align:center">
                                  <h1 id="revenueId">
                                    Possible Revenue: 
                                  </h1>
                                </div>
                                <div style="text-align:center">
                                  <h1 id="revenueGainId">
                                     Revenue Gain: 
                                  </h1>
                          </div>
                          <a class="popup__close" href="#">X</a>
                        </div>
                      </div>

                
      </div>
        <script type="text/javascript" src="../data/fair_trade.json"></script>
        <script type="text/javascript" src="../app.js"></script>
 </body>

</html>
