<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="cropchooser.css">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1">

    <title>About</title>


  </head>

  <body>
      <br>
      <img src = "icons/icon.png" class = "icon">
      <div class = "seperator"></div>
      <div class = "options">
            <div class="wrapper">
                    <input checked type=radio name="slider" id="slide1" />
                    <input type=radio name="slider" id="slide2" />
                    <input type=radio name="slider" id="slide3" />
                    <input type=radio name="slider" id="slide4" />
                    <input type=radio name="slider" id="slide5" />
                  
                    <div class="slider-wrapper">
                      <div class=inner>
                        <article>
                          <div class="info top-left">
                            <h3>Potato</h3></div>
                          <img src="assets/potato.jpg" />
                        </article>
                  
                        <article>
                          <div class="info bottom-right">
                            <h3>Maize</h3></div>
                          <img src="assets/maize.jpg" />
                        </article>
                  
                        <article>
                          <div class="info bottom-left">
                            <h3>Rice</h3></div>
                          <img src="assets/rice.jpg" />
                        </article>
                  
                        <article>
                          <div class="info top-right">
                            <h3>Soybean</h3></div>
                          <img src="assets/soy.jpg" />
                        </article>
                  
                        <article>
                          <div class="info bottom-left">
                            <h3>Wheat</h3></div>
                          <img src="assets/wheat.jpg" />
                        </article>
                      </div>
                      <!-- .inner -->
                    </div>
                    <!-- .slider-wrapper -->
                  
                    <div class="slider-prev-next-control">
                      <label for=slide1></label>
                      <label for=slide2></label>
                      <label for=slide3></label>
                      <label for=slide4></label>
                      <label for=slide5></label>
                    </div>
                    <!-- .slider-prev-next-control -->
                  
                    <div class="slider-dot-control">
                      <label for=slide1></label>
                      <label for=slide2></label>
                      <label for=slide3></label>
                      <label for=slide4></label>
                      <label for=slide5></label>
                    </div>
                    <!-- .slider-dot-control -->
                  </div>
      </div>
  </body>

</html>