<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="help.css">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1">

    <title>About</title>


  </head>

  <body>
      <br>
        <button style="background-color: Transparent"onclick="location.href = 'index.html';">
          <img style="height: 50px; width: 50px;" src="icons/icon.png"    >
        </button>

      <div class = "seperator"></div>
      <div class = "options">
            <br>
        <button class = "learn-more">
            Home
        </button>
        <br>
        <br>
        <button class = "learn-more">
            About Us
        </button>
        <br>
        <br>
        <button class = "learn-more">
            Contact Us
        </button>
      </div>
  </body>

</html>
