* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
    background-image: linear-gradient(
        to right bottom,
        rgba(130, 212, 116, 0.72),
        rgba(40,180,131,1)),
        url(assets/farmer.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top;
   height: 100vh;
}

.header {

}


.logo {
    width: 50vh;
    height: 50vh;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}