<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="intro2.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title> Second intro for sprout</title>
</head>
<body>
        <button style="background-color: Transparent" onclick="location.href = 'index.html';">
          <img style="height: 50px; width: 50px;" src="icons/icon.png"    >
        </button>

    <header class = "header">
        <div class = "logo-box">
            <img src = "assets/Sprout_logo.png" alt = "Logo" class = "logo">
        </div>
        <div class = "seperator"></div>
        <div class="paragraph">
			<!-- <button id="start" class="brk-btn"> START </button> -->
        </div>
    </header>  
	<p> Index funds is simply money that is collected from many people like you to buy portions of company. These typically rise in value every year, meaning you actually end up with more money than you had to begin with, which is a much better and safer than keeping it in your house. These tend to make more money than interest rates in a bank, but these are also slightly more volatile (although still incredibly safe), so you should only invest any extra money you have left over after savings. <br>

				For further information, and guidance on whether to invest, contact your bank from the information in the Banking section. </p>
    <script type="text/javascript" src="../data/fair_trade.json"></script>
    <script type="text/javascript" src="../app.js"></script>
	<script src="../app.js"></script>
</body>
