<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="location.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Location</title>
</head>
<body>
  <div class = "flagholder">
    <h2 class = "header1"> Is your location </h2>
    <img class = "flag" src = "assets/flag.jpg">
    <h3 class = "header2"> The United States ? </h3>
</div>

<div class = "options">
    <button style = "background-color: lightgreen" class = "learn-more">
        Correct
    </button>
    <br>
    <button class = "learn-more">
        Incorrect
    </button>
</div>
</body>
