<!DOCTYPE html>

<head>
    <script src="../app.js"></script>
    <link rel="stylesheet" href="intro2.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title> Menu</title>
</head>
<body>
	
</body>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="menu.css">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1">

    <title>Menu</title>


  </head>

  <body>
      <br>
       <button style="background-color: Transparent" onclick="location.href = 'index.html';">
         <img style="height: 50px; width: 50px;" src="icons/icon.png"    >
       </button>

      <div class = "seperator"></div>
      <h2 class = "welcome">  Welcome back! </h2>
      <div class = "options">
            <br>
            <button onclick="location.href = 'cropchooser.html';" class = "learn-more">
                Crop evaluator
            </button>
            <br>
			<br>
            <button onclick="location.href = 'banks.html';" class = "learn-more">
                Bank Finder
            </button>
            <br>
			<br>
            <button onclick="location.href = 'investing.html';"  class = "learn-more">
                Investing Advisor
            </button>
			<br>
			<br>
	        <button onclick="location.href = 'changeLocation.html';"  class = "learn-more">
                Location
            </button>
			<br>
			<br>
            <button onclick="location.href = 'budgeting.html';"  class = "learn-more">
                Budgeting Helper
            </button>
			<br>
			<br>
            <button onclick="location.href = 'help.html';" class = "learn-more">
                Help 
            </button>

      </div>
  </body>

</html>

