* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
    background-image: linear-gradient(
        to right bottom,
        rgba(130, 212, 116, 0.72),
        rgba(40,180,131,1)),
        url(assets/farmer.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top;
   height: 100vh;
}

.header {

}

.brk-btn {
    position: absolute;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    color: #955100;
    text-decoration: none;
    border: 0.1em solid #955100;
    padding: 0.5em 1em;
    border-radius: 8px;

    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.brk-btn::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.brk-btn::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.brk-btn:hover::before {
    right: 80%;
}
.brk-btn:hover::after {
    left: 80%;
}


.seperator {
    height: 0.3vh;
    width: 45vh;
    background-color: aliceblue;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    top: 35%;
    z-index: 0;
    left: 50%;
    transform: translate(-50%, -50%);

}

.logo {
    width: 50vh;
    height: 50vh;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}